.header{
    position: relative;
    box-sizing:border-box;
    margin:9px 0 0 4px;
    height:44px
}
.lnbLeftBtn{
    position: absolute;
    right: 35px;
    top: 5px;
    color: #5f6368;
    font-size: 12px;
    font-weight: 400;
}
.lnbRightBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    color:#5f6368;
    font-size: 12px;
    font-weight: 400;
}
.lmbTitle{
    margin: 5px 0 0 10px;
    padding-left: 5px;
    width: 130px;
    color: #3c4043;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 20px;
}
.weekDays{
    display: flex;
    flex-direction: row;
    margin-top:10px
}
.weekDay{
    width: 40px;
    text-align: center;
    font-size: 10px;
    color: rgb(168, 168, 179)
}
.small{
    z-index: 12;
    width:280px;
    height:200px;
    display:flex;
    flex-wrap:wrap
}
.logoCurrent{
    position: absolute;
    width:14px;
    height:16px;
    margin-left: 13px;
    top:12px;
    background-color:rgb(248, 244, 244);
    font-size:12px;
    padding-top:1px;
    text-align:center
}
.menu{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 10px; 
    color: #5f6368;
}
.menu:hover{
    position: absolute;
    left: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #eceef3;
}
.logo{
    position: absolute;
    width: 40px;
    height: 40px;
    margin:2px 60px;
    color: rgb(36, 36, 241);
}
.title{
    position: absolute;
    width: 180px;
    margin:12px 107px;
    font-size:22px;
    line-height: 24px;
    color: #5f6368;
    font-family: "Product Sans",Arial,sans-serif;
}
.addBtn{
    position: absolute;
    width: 52px;
    height: 52px;
    margin: 71px 0 0 8px;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    animation: addButton;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: 0.5s;
}
.addBtn:hover{
    transition: 0.5s;
    box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.closeBtn{
    position: absolute;
    width: 52px;
    height: 52px;
    margin: 71px 0 0 10px;
    border-radius: 50%;
    animation: closeButton;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes addButton {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        z-index: 10;
    }
}
@keyframes closeButton {
    0%{
        opacity: 1;
        z-index: 3;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
.btn{
    position: absolute;
    width: 65px;
    height: 32px;
    margin:6px 250px;
    border:1px solid rgba(151, 133, 133, 0.5);
    border-radius: 3px;
    background-color: rgba(255, 253, 253, 0.5);
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 600;
    color: rgb(60,64,67);
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(248, 242, 242, 0.521);
    color: rgb(92, 83, 83);
}
.supportComponent{
    position:absolute;
    top:10px;
    right:275px
}
.support{
    color:rgb(92, 83, 83);
    width:24px;
    height:24px
}
.settingsComponent{
    position:absolute;
    top:11px;
    right:230px;
}
.settings{
    color: rgb(92, 83, 83);
    width:22px;
    height: 22px
}
.dateMode{
    position: absolute;
    margin: 0 250px;
}
.leftRight{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 8px 335px;
}
.leftRightBtn{
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 3px;
    padding-top: 3px;
    text-align: center;
    font-size: 13px;
    border-radius:50%;
    border:0;
    color: rgb(60,64,67);
}
.leftRightBtn:hover{
    background-color:rgb(233, 214, 214,0.5);
}
.showDate{
    position: absolute;
    text-align: initial;
    min-width: 130px;
    height: 40px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(60,64,67);
    cursor: pointer;
    margin:10px 420px;
    font-family: Google Sans,'Roboto Arial',sans-serif;
}
.smallCalendar{
    position: absolute;
    background-color: white;
    z-index: 12;
    top: 10px;
    left: 340px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
    animation: small;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}
@keyframes small {
    0%{
        width: 280px;
        height: 0px;
        opacity: 0;
    }
    100%{
        width: 280px;
        height: 210px;
        opacity: 1;
    }
}
.line{
    position: absolute;
    margin-top: 56px;
    margin-left: -5px;
    width: 1292px;
    height: 1px;
    background-color: rgb(221, 221, 236);;
}
.searchComponent{
    position:absolute;
    top:10px;
    right:320px
}
.search{
    color:rgb(92, 83, 83);
    width:24px;
    height:24px
}
.mode {
    position:absolute;
    margin-top:6px;
    right: 125px;
    line-height: normal;
    border-radius: 4px;
    font-family: Roboto, Arial, sans-serif;
}
.mode:hover{
    background-color: rgba(0,0,0,0.032);
    transition: 1s;
    border: 0;
}
@media screen and (max-width:700px){
    .menu{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 8px; 
        color: rgb(132, 132, 136);
    }
    .menu:hover{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(230, 212, 212,0.5);
    }
    .logo{
        position: absolute;
        width: 40px;
        height: 40px;
        margin:0px 55px;
    }
    .title{
        display: none;
    }
    .btn{
        position: absolute;
        width: 80px;
        margin:7px 100px;
        border:1px solid rgba(151, 133, 133, 0.5);
        border-radius: 6px;
        background-color: rgba(255, 253, 253, 0.5);
        font-size: 1.1em;
        font-weight: 100;
        color: rgb(78, 74, 74);
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgba(190, 182, 182, 0.521);
        color: rgb(92, 83, 83);
        border: 0;
        width: 82px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    .showDate{
        position: absolute;
        text-align: center;
        min-width: 150px;
        height: 15px;
        margin: -20px 0 0;
        color:rgb(78, 74, 74);
        font-size: 0.8em;
    }
    .leftRight{
        position: absolute;
        margin: 6px 180px;
    }
    .searchComponent{
        position:absolute;
        width:120px;
        top:8px;
        right:245px
    }
    .settings{
        position:absolute;
        top:2px;
        right:140px
    }
    .info{
        position:absolute;
        top:2px;
        right:110px
    }
    .mode {
        position:absolute;
        right:20px;
        top:5px
    }
}