.container{
    box-sizing: border-box;
    width: 979px;
    margin: 32px 0 0 256px;
    display: flex;
    flex-wrap: wrap;
}

.dayContainer{
    width: 1200px;
    top: 25px;
    height: 500px;
    overflow: auto;

}
.dayContainer::-webkit-scrollbar{
  width: 0px;
}
.dayNames{
    box-sizing: border-box;
    top: 80px;
    left: 80px;
    position: absolute;
    display: flex;
    flex-direction: row;
  
  }
  .weekDay{
    font-size: 14px;
    padding-top: 3px;
    width: 163px;
    text-align: center;
    box-sizing: border-box;
    color:rgb(92, 92, 95);
  }
.dayNumberContainer{
    height: 45px;
    text-align: center;
    padding-top:2px;
    font-size: 20px;
    color:rgb(92, 92, 95);
  }
.dayNumber{
 padding-top: 7px;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 margin-left: 62px;
}
.dayNumber:hover{
  background-color:rgb(250, 245, 245);
}
.hour{
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
    color: rgb(136, 129, 129);
    padding-top: 10px;
    height: 48px;
    width: 163px;
    border:1px solid rgb(221, 221, 236);
    border-style: none solid solid none;
  }