.container{
    box-sizing: border-box;
    width: 979px;
    margin: 32px 0 0 256px;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    overflow: auto;
  }
.containerWithOpenBar{
    width:1225px;
    box-sizing: border-box;
    margin: 32px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    overflow: auto;
}
.leftLine{
    position: absolute;
    top: 67px;
    width: 1px;
    margin-top: 0;
    height: 597px;
    background-color:rgb(221, 221, 236);;
  }
.weekdays{
    box-sizing: border-box;
    top: 66px;
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .weekday{
    font-size: 14px;
    padding-top: 3px;
    width: 175px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 236);
    border-style: none solid none none;
    color:rgb(92, 92, 95);
  }
  .weekdayWithBaropen{
    font-size: 14px;
    padding-top: 3px;
    width: 139px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(221, 221, 236);
    border-style: none solid none none;
    color:rgb(92, 92, 95);
  }
  .dayEvents{
    position: absolute;
    margin-top: 42px;
  }
  .dayEvent{
    width: 175px;
    height: 16px;
    margin: 1px 0 0 0px;
    padding:2px 0 0 5px;
    font-size: 12px;
    background-color: rgb(117, 117, 226);
    color: white;
  }
  .number{
    position: absolute;
    color:black;
    min-width: 24px;
    height: 24px;
    padding-top: 4px;
    margin:5px 0 0 75px;
    border-radius:12px;
    font-size: 14px;
    text-align: center;
  }
.currentDay{
    position: absolute;
    color:rgb(208, 208, 230);
    min-width: 24px;
    height: 24px;
    padding-top: 4px;
    font-size: 14px;
    text-align: center;
    margin-left: 75px;
    margin-top: 7px;
    border-radius: 12px;
    background-color: #1a73e8;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2),0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  .day{
    box-sizing: border-box;
    width: 175px;
    height: 116px;
    border: 1px solid rgb(221, 221, 236);
    border-style: none solid solid none;
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(143, 143, 151);
    padding-top:5px ;
    z-index: 0;
  }
  .dayWithOpenBar{
    box-sizing: border-box;
    width: 139px;
    height: 116px;
    border: 1px solid rgb(221, 221, 236);
    border-style: none solid solid none;
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(143, 143, 151);
    padding-top:5px ;
    z-index: 0;
  }
  .hourEventList{
    position:absolute;
    margin:78px 0 0 5px;
    display:flex;
    flex-direction:row;
  }
  .hourEvents{
    height:15px;
    border-radius:50%;
    width:15px;
    margin-left:2px;
  }