.body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.rnb{
    box-sizing: border-box;
    width: 50px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: 5px;
    top: 92px;
    animation: example;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}
@keyframes example {
    0%{
        right: 55px;
        width: 0px;
    }
    100%{
        right: 5px;
        width: 50px;
    }
}
.bar{
    box-sizing: border-box;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.bar:hover{
    background-color: rgb(230, 223, 223,0.5);
}
.lnb{
    padding-top: 45px;
    box-sizing: border-box;
    position: absolute;
    margin: 30px 0 0 10px;
    width: 256px;
    height:564px;
    z-index: 1;
    animation: example2;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    font-size: 14px;
}
@keyframes example2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.leftBarMonth{
    box-sizing: border-box;
    margin:12px 0 0 11px;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    animation: example2;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}
.leftBarMonthDays{
    box-sizing: border-box;
    padding-top: 6px;
    width: 24px;
    margin: 3px;
    height: 24px;
    text-align: center;
    font-size: 0.75em;
    color:black;
    cursor: pointer;
}
.leftBarMonthDays:hover{
    border-radius: 50%;
    background-color:#dadce0;
     color:rgb(168, 168, 179);
}
.leftBarMonthCurrentDay{
    box-sizing: border-box;
    padding-top: 6px;
    margin: 3px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 0.75em;
    color: white;
    background-color: #1a73e8;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
}
.lmbTitle{
    margin: 20px 0 0 10px;
    padding-left: 5px;
    width: 130px;
    color: #3c4043;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 20px;
}
.lnbLeftBtn{
    position: absolute;
    right: 65px;
    top: 62px;
    color: #5f6368;
    font-size: 12px;
    font-weight: 400;
}
.lnbRightBtn{
    position: absolute;
    top: 62px;
    right: 35px;
    color:#5f6368;
    font-size: 12px;
    font-weight: 400;
}
.lnbLeftBtn:hover, .lnbRightBtn:hover{
    border-radius: 50%;
    background-color: #dee5f3;
    cursor: pointer;
}
.lnbBtn{
    position: absolute;
    width: 150px;
    height: 50px;
    top: -2px;
    left: 5px;
    border-radius: 25px;
    border: 0;
    background-color: white;
    color: rgb(93, 93, 99);
    font-size: 14px;
    font-weight: 580;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    animation: createBtn;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}
@keyframes createBtn {
    0%{
        width: 50px;
    }
    100%{
        width: 150px;
    }
}
.lnbBtn:hover{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
.smallWeekDays{
    display:flex;
    flex-direction:row;
    width:420px;
}
.smallWeekDay{
    width:30px;
    text-align:center;
    font-size:12px;
    color:rgb(168, 168, 179);
}
.lnbEvents{
    position: absolute;
    top: 55px;
    left: 55px;
    right: 5px;
    width: 120px;
    height: 80px;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    animation: events;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
@keyframes events {
    0%{
        width: 0px;
        height: 0px;
        right: 125px;
        opacity: 0.1;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        width: 120px;
        height: 80px;
        opacity: 1;
    }
}
.lnbEvent{
    animation:event ;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    height: 25px;
    margin:10px 0 0 0;
    padding: 5px 0 5px 10px;
    color: rgb(99, 81, 81);
    font-size: 0.9em;
    font-weight: 500;
}
@keyframes event {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.lnbEvent:hover{
    background-color: rgb(224, 220, 211);
}
.open{
    position: absolute;
    right: 2px;
    bottom: 10px;
    position: fixed;
}
.notes{
    position: absolute;
    left: 100px;
    top: 50px;
    width: 470px;
    border-radius: 5px;
    height: 300px;
    background-color: white;
    animation: notes;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
.check{
    position: absolute;
    margin: 170px 0 0 47px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.hourSelect{
    display:flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
    top: 148px;
}
.smallCalendar{
    position: absolute;
    background-color: white;
    z-index: 11;
    width: 210px;
    cursor:pointer;
    top: 150px;
    left: 100px;
    border-radius: 6px;
    box-shadow:0 0 3px rgba(0,0,0,19)
}
.noteCalendar{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 10px;
}
.noteInput{
    position: absolute;
    margin: 100px 0 0 50px;
    width: 370px;
    border: 0;
    border-bottom:1px solid rgb(69, 69, 241);
    outline-offset: 0;
    outline: 1px;
}
@keyframes notes {
    0%{
        width: 470px;
        height: 0px;
        opacity: 0;
    }
    100%{
        width: 470px;
        height: 300px;
        opacity: 1;
    }
}
.closeEvent{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.cancel{
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.cancel:hover{
    background-color: rgb(196, 210, 223);
}
.eventDay{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top:149px;
    left: 50px;
}
.hourIcon{
    position: absolute;
    font-size: 20px;
    top: 146px;
    left: 20px;
    color: #898b8f;
}
.save{
    width: 80px;
    height: 40px;
    border: 0;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.closeBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px;
    border-radius: 50%;
}
.closeBtn:hover{
    background-color: rgb(167, 163, 158);
}
.monthTitle{
    margin: 25px 0 0 45px;
    color:rgb(92, 92, 95);
    font-weight: 600;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.monthWeekDay{
    margin: 10px 0 0 45px;
    display: flex;
    flex-direction: row;
    color:rgb(92, 92, 95);
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;

}
.monthDaysForYear{
    margin: 5px 0 0 40px;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
}
.monthDay{
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    margin: 0 3px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: rgb(52, 52, 58);
}
.monthDay:hover{
    border-radius:50% ;
    color: white;
    background-color: rgb(204, 208, 211);
}
.currentDay{
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 5px;
    width: 24px;
    height: 24px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: rgb(39, 39, 238);
    cursor: pointer;
}
.eventList{
    position: absolute;
    width: 100px;
    height: 80px;
    top: 200px;
    left: 50px;
}
.event{
    margin-top: 5px;
    padding-top: 3px;
    height: 25px;
    text-align:center;
    width: auto;
    border-radius: 5px;
    background-color: rgb(107, 107, 226);
    color: white;
}
.roomTab{
    position: absolute;
    width: 250px;
    height: 35px;
    padding:5px 0 0 5px;
    border-radius: 5px;
    margin: 92px 0 0 180px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
.roomTab input{
    cursor: pointer;
    border: 0;
    border-bottom:1px solid blue;
    outline-offset: 0;
    outline: 1px;
}
.roomTab button{
    background-color: white;
    border: 0;
    cursor: pointer;
}
.rooms{
    position: relative;
    height: 250px;
    border: 1px solid red;
}
.room{
    cursor: pointer;
    margin: 1px 0  0 0;
    height: 30px;
    border-radius:7px;
    color: rgb(71, 73, 75);
    padding: 5px;
    background-color: rgb(226, 219, 210);
}
.room:hover{
    background-color: rgb(109, 107, 105);
    color: white;
}
.roomBtn{
    position: relative;
    width: 120px;
    height: 40px;
    top: 10px;
    left: 25px;
    border-radius: 19px;
    border: 0;
    color: rgb(93, 93, 99);
    font-size: 1em;
    font-weight: 580;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
.roomBtn:hover{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}
.lnbRooms{
    position: relative;
    top: 5px;
    left: 25px;
    width: 120px;
    height: auto;
    margin-top: 15px;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    animation: rooms;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
}
@keyframes rooms {
    0%{
        width: 120px;
        height: 0px;
        opacity: 0;
    }
    100%{
        width: 120px;
        height: auto;
        opacity: 1;
    }
}
.mycalendar{
    width: 230px;
    margin-top: 50px;
    position: absolute;
}
.myCalendarSettings{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    right: 10px;
    top: 10px;
    width: 230px;
    height: 24px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.myCalendarSettings:hover{
    background-color: rgb(237, 240, 241);
    z-index: 12;
}
.palette{
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 10;
    left: 260px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
    animation: palette1;
    animation-duration: 0.2s;
    animation-iteration-count: 1;

}
@keyframes palette1 {
    0%{
        width: 120px;
        height: 0;
        opacity: 0;
    }
    100%{
        width: 120px;
        height: 120px;
        opacity: 1;
    }
}
.colors{
    width: 20px;
    cursor: pointer;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}
.calendarColor{
    margin:2px 5px 0 10px;
    width: 20px;
    cursor: pointer;
    height: 20px;
    border-radius: 50%;
}
.myCalendarTitle{
    margin-top: 2px;
}
.dots{
    position:absolute;
    right:5px;
    top:3px;
}
.changes{
    position: absolute;
    margin: 50px 0 0 10px;
}