
.body{
  padding: 0;
  margin: 0;
}
.container{
  box-sizing: border-box;
  width: 1050px;
  margin: 30px 0 0 185px;
  display: flex;
  flex-wrap: wrap;
  height: 564px;
  overflow: auto;
}
.container::-webkit-scrollbar{
  width: 0px;
}
.day{
  box-sizing: border-box;
  width: 175px;
  height: 94px;
  border: 1px solid rgb(221, 221, 236);
}
.weekDay{
  box-sizing: border-box;
  width: 175px;
  border: 1px solid rgb(221, 221, 236);
}
.hour{
  height: 40px;
  width: 1050px;
  border: 1px solid rgb(221, 221, 236);
}
.dayHours{
  height: 40px;
  width: 1050px;
  border: 1px solid rgb(221, 221, 236);
}
.year{
  border: 1px solid rgb(221, 221, 236);
  width: 306px;
  height: 306px;
}