
.menu{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 10px; 
    color: #5f6368;
}
.menu:hover{
    position: absolute;
    left: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #eceef3;
}
@media screen and (max-width:700px){
    .menu{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 8px; 
        color: rgb(132, 132, 136);
    }
    .menu:hover{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(230, 212, 212,0.5);
    }
}