.container {
    box-sizing: border-box;
    width: 1225px;
    margin: 32px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 0px;
}

.containerWithOpenbar {
    box-sizing: border-box;
    width: 979px;
    margin: 32px 0 0 256px;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    overflow: auto;
}

.containerWithOpenbar::-webkit-scrollbar {
    width: 0px;
}

.hourEvents {
    width: 80px;
    background-color: rgb(67, 67, 241);
    border-radius: 5px;
    margin-left: 5px;
}

.eventlist {
    position: absolute;
    top: 65px;
    right: 75px;
}
.dayRow{
    display: flex;
    flex-direction: row
}
.events {
    height: 20px;
    margin-top: 5px;
    width: 800px;
    border-radius: 6px;
    font-size: 12px;
    padding: 4px 0 0 5px;
    color: white;
}

.rightLine {
    width: 1px;
    height: 603px;
    position: absolute;
    top: 65px;
    right: 65px;
    background-color: rgb(221, 221, 236);
    z-index: -5;
}
.dayContainer{
    position: relative;
    margin-top: 40px;
    left: 20px;
}
.dayContainer::-webkit-scrollbar{
    width: 0px;
  }
.eventContainer{
    width: auto;
    height: 1152px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 150px;
}
.eventTime{
    margin: 5px;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times,Times New Roman, serif
}
.eventDescription{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times,Times New Roman, serif;
    margin: 5px;
    overflow: hidden;
    height: auto;
}
.hour{
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
    color: rgb(136, 129, 129);
    padding-top: 10px;
    height: 48px;
    width: 50px;
    border:1px solid rgb(221, 221, 236);
    border-style: none solid solid none;
  }
  .hourNotes{
    box-sizing: border-box;
    height: 48px;
    width:1135px;
    border:1px solid rgb(221, 221, 236);
    border-style: none none solid none;
  }
  .hourNotesWithBarOpen{
    box-sizing: border-box;
    height: 48px;
    width:900px;
    border:1px solid rgb(221, 221, 236);
    border-style: none none solid none;
  }
.redLine{
    position: absolute;
    height: 2px; 
    background-color: red;
}
.current{
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 100px;
    margin-top: 20px;
    left: 100px;
    font-size: 18px;
    padding-top: 8px;
    color: white;
    background-color: rgb(117, 107, 192);
  }
  .currentWithBarOpen{
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 100px;
    margin-top: 20px;
    left: 346px;
    font-size: 18px;
    padding-top: 8px;
    color: white;
    background-color: rgb(117, 107, 192);
  }
  .dayName{
    font-size: 11px;
  }